{% extends 'doc_base.html' %}
{% load static %}
{% block content %}
        <!-- Main Content -->
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            <div class="content">
                <p>This is the main content area. You can add charts, tables, or other elements here.</p>
            </div>



{% endblock %}

